@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  --font-patua: 'Patua One', serif;
  --olive-green: #9dae11;
  --mustard: #e1ad01;
  --hot-pink: #ff1d8e;
}
